/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600;800&display=swap");

:root {
  --header-height: 5rem;

  --main-color: #f7e6df;
  --first-color: #75492b;
  --second-color: #dfd6a7;
  --white-color: #fff;
  --black-color: #151515;

  --font-cursive: "Great Vibes", cursive;
  --font-body: "Montserrat", sans-serif;

  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  font-size: var(--normal-font-size);
  font-family: var(--font-body);
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 100;
  transition: all 0.4s ease;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-menu .nav-list {
  display: flex;
}

.nav-menu li {
    margin-right: 2rem;
}

.nav-link {
    font-size: var(--normal-font-size);
    color:var(--black-color);
    font-weight: bold;
    text-transform: capitalize;
    position:relative;
    transition: all 0.4s ease;
}

.nav-link::before {
    content:'';
    position:absolute;
    width:0;
    left:0;
    bottom:0;
    height:2px;
    background-color: var(--first-color);
    transition: all 0.4s ease-in-out;
}

.nav-link:hover::before {
    width:100%;
}

.nav-link:hover,
.nav-link.active {
    color:var(--first-color);
}

.nav-toggle{
    font-size:var(--h1-font-size);
    padding: 5px 5px 0;
    border: 2px solid transparent;
    z-index: 100;
    display:none;
}

.nav-toggle:hover{
    color:var(--first-color);
    border: 2px solid var(--first-color);
}

@media(max-width:920px){
    .nav-menu{
        position:absolute;
        top:0;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: var(--main-color);
        font-size:var(--h2-font-size);
        text-align: center;
        text-transform:capitalize;
        padding-top: var(--header-height);
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        transition: all 0.4s ease-in-out;
    }
    .show-nav{
        width:60%;
    }
    .nav-menu .nav-list {
        display:block;
    }
    .nav-menu li{
        padding: 15px 0;
    }
    .nav-link{
        font-size: var(--h3-font-size);
    }
    .nav-toggle{
        display:block;
    }
}

